<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="RealizeMyGet" value="https://www.myget.org/F/sqexrealize/auth/e46c4cb2-0f37-4dac-b605-13ca626d6cee/api/v3/index.json" />
  </packageSources>
</configuration>